:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

#grid-container {
    display: grid;
    gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-columns), auto);
    border: 1px solid black;
}